<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.youtube.com/channel/UCRkoBVgvP1Bu_UK5SGMlO_w" target="_blank">
        <img src="../../assets/images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Stevie Is The Best Domestic Partner /s
      </a>
      <div class="button-container ">
        <a  href="https://github.com/flyaway12345/StevenCrowderAbuseSoundboard" target="_blank">
          <img src="../../assets/images/github.png" alt="github logo">
        </a>
      </div>

      
    </div>
  </nav>